**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
target/
**/git.properties
**/target/**
/viewer/src/main/webapp/WEB-INF/xsl/print/calc.xsl
/viewer/src/main/webapp/WEB-INF/xsl/print/legend.xsl
/viewer/src/main/webapp/WEB-INF/xsl/print/styles.xsl
/viewer/src/main/webapp/WEB-INF/xsl/print/print.xml
/viewer/src/main/webapp/WEB-INF/xsl/print/print.html
datasets
*.log