	 -----
	 Release notes
	 -----
	 mprins
	 -----
	 2015-10-12
	 -----

~~ reference: http://maven.apache.org/doxia/references/apt-format.html


${project.name} ${project.version} Release Notes

  Dit zijn de release notes voor ${project.name} versie ${project.version}.

  Releases zijn beschikbaar op: {{{https://github.com/B3Partners/flamingo-ibis/releases/}github releases}}, de laatste snapshots
  zijn beschikbaar in de {{{https://repo.b3p.nl/nexus/#browse/search/maven=attributes.maven2.artifactId%3Dibis-dist} Maven repository}}.

%{toc|section=1|fromDepth=2|toDepth=2}

* Versie ${project.version}

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A${project.version}+is%3Aclosed}milestone ${project.version} issues}}.

** Nieuw

  * Upgrade naar Flamingo {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v5.7.6}5.7.6}}

  []


** Verbeteringen en oplossingen

 * maak label breedte op editformulieren instelbaar  ({{{https://github.com/B3Partners/flamingo-ibis/issues/168}#168}})

 * Fix ophalen van kaartlaag voor IbisFactsheet config component ({{{https://github.com/B3Partners/flamingo-ibis/issues/165}#165}})

 []


* Versie 4.0

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A4.0+is%3Aclosed}milestone 4.0 issues}}.

** Nieuw

  * Migratie naar Flamingo {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v5.7.3}5.7.3}} en verwijderen
     van Flash componenten ({{{https://mantis.b3p.nl/view.php?id=14455}mantis-14455}})

  * IBPV-042: Historische records van kavels aanpassen ({{{https://github.com/B3Partners/flamingo-ibis/issues/137}#137}})

  * IBPV-205: Aanvullende gegevens toevoegen aan bedrijventerrein ({{{https://github.com/B3Partners/flamingo-ibis/issues/146}#146}})

  * IBPV-052: Kavels muteren terwijl een terrein op afgevoerd staat ({{{https://github.com/B3Partners/flamingo-ibis/issues/140}#140}})

  * IBPV-072: veroudering toevoegen aan systeem ({{{https://github.com/B3Partners/flamingo-ibis/issues/138}#138}})

  []


** Verbeteringen en oplossingen

  * Fix regio filter in rapportage tool ({{{https://github.com/B3Partners/flamingo-ibis/issues/117}PR #117}}, {{{https://mantis.b3p.nl/view.php?id=14025}mantis-14025}})

  * FIX: bij het opstarten van de publieksviewer krijg je steeds in beeld Error while getting SLD..." ({{{https://mantis.b3p.nl/view.php?id=14365}mantis-14365}})

  * Gebruik maken van cyclomedia streetsmart ipv google streetview ({{{https://mantis.b3p.nl/view.php?id=14832}mantis-14832}})

  * IBPV-200: Fix Solr indexing ({{{https://github.com/B3Partners/flamingo-ibis/issues/119}PR #119}})

  * IBPV-085: Woorden 'wordt' en 'was' boven de kolommen zetten in was/wordt scherm ({{{https://github.com/B3Partners/flamingo-ibis/issues/109}#109}})

  * IBPV-038: Datummutatie niet op vandaag zetten voor bewerkte records ({{{https://github.com/B3Partners/flamingo-ibis/issues/105}#105}})

  * IBPV-206: Factsheet: toevoegen hindercategorie, prijs max, min ({{{https://github.com/B3Partners/flamingo-ibis/issues/147}#147}})

  * IBPV-073: Bij bedrijventerreinen de Internet faciliteiten updaten ({{{https://github.com/B3Partners/flamingo-ibis/issues/143}#143}})

  * IBPV-201: mutatie van een gemeente weggooien zonder deze te bewerken  ({{{https://github.com/B3Partners/flamingo-ibis/issues/144}#144}})

  * IBPV-035: Eigendom van een overheidsinstantie of een bedrijf ({{{https://github.com/B3Partners/flamingo-ibis/issues/142}#142}})

  []


* Versie 3.1

** Nieuw

  * migratie naar Flamingo {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v5.2.2}5.2.2}}
  
  []
  
** Verbeteringen en oplossingen
  
  * Fix kaartlaag herladen voor gemeente viewer ({{{https://github.com/B3Partners/flamingo-ibis/issues/101}PR #101}}, {{{https://mantis.b3p.nl/view.php?id=13491}mantis-13491}})
  
  []


* Versie 3.0

** Nieuw

  * migratie naar Flamingo {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v5.2.2-rc1}5.2.x}}
  
  []
  
** Verbeteringen en oplossingen
  
  * update van de print stylesheets

  * ondersteuning voor Apache Tomcat 8.5.x
  
  []


* Versie 2.19

** Verbeteringen en oplossingen

  * Verbeteringen in de factsheet ({{{https://github.com/B3Partners/flamingo-ibis/issues/78}issue #78}})

  []

* Versie 2.18

** Nieuw

  * IBIS sprite opnemen in war file ({{{https://github.com/B3Partners/flamingo-ibis/issues/73}issue #73}})
  
  * Gebruik Flamingo versie 4.8.1.3, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.8.1.3}Flamingo release notes}}
    
  []

** Verbeteringen en oplossingen
  
  * Verbeteringen in de factsheet ({{{https://github.com/B3Partners/flamingo-ibis/issues/74}issue #74}}, 
    {{{https://github.com/B3Partners/flamingo-ibis/issues/76}issue #76}}, 
    {{{https://github.com/B3Partners/flamingo-ibis/issues/77}issue #77}})
    
  * Aanpssing verwijderen knop in editscherm ({{{https://github.com/B3Partners/flamingo-ibis/issues/75}issue #75}})
  
  []

* Versie 2.17

** Nieuw

  * Gebruik Flamingo versie 4.8.1.2, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.8.1.2}Flamingo release notes}}
    
  []


** Verbeteringen en oplossingen

  * fix {{{https://github.com/B3Partners/flamingo-ibis/issues/71}issue #71}}

  []


* Versie 2.16

** Nieuw

  * "Verwijderen" knop op edit scherm uitschakelen als er een 'definitief' object word geladen,
    'definitief' objecten mogen niet verwijderd worden. ({{{https://github.com/B3Partners/flamingo-ibis/issues/72}issue #72}})

  * Gebruik Flamingo versie 4.8.1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.8.1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * aanpassing titel was/wordt ({{{https://github.com/B3Partners/flamingo-ibis/issues/69}issue #69}})

  * stel minimum datum voor <<<datummutatie>>> in op vorige 'definitief' datum ({{{https://github.com/B3Partners/flamingo-ibis/issues/70}issue #70}})

  []

* Versie 2.15

** Nieuw

  * Gebruik Flamingo versie 4.8.1-rc1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.8.1-rc1}Flamingo release notes}}

  []


** Verbeteringen en oplossingen

  * Heen-en-weer bufferen met een afstand van 0.001m tijdens maken van terrein geometrie

  * Kleine factsheet aanpassing voor de velden van ({{{https://github.com/B3Partners/flamingo-ibis/issues/62}issue #62}})

  * Terugdraaien van de aanpassing om ontstaan van meer dan 1 archiefrecord van een object per mutatiedatum te voorkomen ({{{https://github.com/B3Partners/flamingo-ibis/issues/60}#60}}, {{{https://github.com/B3Partners/flamingo-ibis/issues/67}#67}})

  * Weergave van "Defintief" object in geval van "Bewerkt" object dat bewerkt of geaccordeerd wordt of "Definitief" object dat bewerkt wordt. ({{{https://github.com/B3Partners/flamingo-ibis/issues/61}#61}})

  * Fix weergave van "Definitief" als er aliases zijn toegewezen ({{{https://github.com/B3Partners/flamingo-ibis/issues/68}issue #68}}, {{{https://github.com/flamingo-geocms/flamingo/pull/810}Flamingo #810}})

  []


* Versie 2.14

** Nieuw

  * Gebruik Flamingo versie 4.8.0, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.8.0}Flamingo release notes}}
    NB. Java 8 runtime vereiste voor de server.

  []

** Verbeteringen en oplossingen

  * Undo/redo/cancel voor tekenen in edit/teken/splits component ({{{https://github.com/flamingo-geocms/flamingo/pull/782}Flamingo #782}})

  * Voorkom ontstaan van meer dan 1 archiefrecord van een object per mutatiedatum ({{{https://github.com/B3Partners/flamingo-ibis/issues/60}#60}})

  * Factsheet uitbreidingen ({{{https://github.com/B3Partners/flamingo-ibis/issues/62}#62}})

  * Verbetering in oplossing van pseudo-self-intersects en gaten van terreinen door splits artifacten ({{{https://github.com/B3Partners/flamingo-ibis/issues/64}#64}})

  []

* Versie 2.13

** Verbeteringen en oplossingen

  * omzeilen maximum aantal bewerkingen vanwege workflow ontwerp ({{{https://github.com/B3Partners/flamingo-ibis/issues/59}#59}})

  []


* Versie 2.12

** Nieuw

  * Gebruik Flamingo versie 4.7.9, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.9}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * verbeteringen in het samenvoeg-gereedschap ({{{https://github.com/flamingo-geocms/flamingo/issues/724}#724}})

  * betere melding als afgesplitste deel van geometrie kleiner is dan drempelwaarden voor sliver (waardoor afgesplitste deel alweer is samengevoegd)

  * gebruik een tomcat "LockOutRealm" om brute-force aanvallen tegen te gaan; zie {{{https://github.com/flamingo-geocms/flamingo/issues/726}#726}}

  * gebruik <<<_self>>> target voor factsheet

  []


* Versie 2.11

** Nieuw

  * Gebruik Flamingo versie 4.7.7, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.7}}Flamingo release notes}}

  * configureerbare sliver detectie voor splitsen ({{{https://github.com/B3Partners/flamingo-ibis/pull/57}PR #57}})

  []

* Versie 2.10

** Nieuw

  * Gebruik Flamingo versie 4.7.7-rc1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.7-rc1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * Laden van applicatie vanuit bookmark verbeterd
  
  []

* Versie 2.9

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.9+is%3Aclosed}milestone 2.9 issues}}.

** Verbeteringen en oplossingen

  * toevoegen van bedrijventerrein lukt weer ({{{https://github.com/B3Partners/flamingo-ibis/issues/53}issue #53}})

  * voorkom splitsen van niet "definitief" objecten ({{{https://github.com/B3Partners/flamingo-ibis/issues/54}issue #54}})

  * voorkom samenvoegen van niet "definitief" objecten ({{{https://github.com/B3Partners/flamingo-ibis/issues/55}issue #55}})
  
  []

* Versie 2.8

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.8+is%3Aclosed}milestone 2.8 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.7.6, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.6}Flamingo release notes}}

  * Schets component welke een bookmark verstuurd met daarin de schets ({{{https://github.com/B3Partners/flamingo-ibis/issues/52}issue #52}})

  []

** Verbeteringen en oplossingen

  * Relevante Flamingo issues:

    * Edit vanuit featureinfo voor initieel niet zichtbare laag ({{{https://github.com/flamingo-geocms/flamingo/pull/656}#656}})
    
    * Verbeteringen featureinfo component  ({{{https://github.com/flamingo-geocms/flamingo/pull/685}#685}})

  * aanpassen default waarde van workflow status bij splits en merge component (
    {{{https://github.com/B3Partners/flamingo-ibis/issues/54}issue #54}}, {{{https://github.com/B3Partners/flamingo-ibis/issues/55}issue #55}})

 []

* Versie 2.7

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.7+is%3Aclosed}milestone 2.7 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.7.4, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.4}Flamingo release notes}}

  * auto-size van de kolommen in de excel export

  []

** Verbeteringen en oplossingen

  * vullen milieuzonering attribuut met juiste waarde in factsheet

  * titel edit venster niet meer dynamisch

  * na edit alle aangevinkte kaartlagen herladen, niet alleen de zojuist bewerkte en terreinen kaartlaag

  * Relevante Flamingo issues:

    * Simplefilter fixes ({{{https://github.com/flamingo-geocms/flamingo/pull/642}#642}},
      {{{https://github.com/flamingo-geocms/flamingo/pull/643}#643}})

    * documentatie Internet Explorer gedrag {{{https://github.com/flamingo-geocms/flamingo/pull/630}#630}}

    * fix edit from featureinfo popup when geometry is not-editable {{{https://github.com/flamingo-geocms/flamingo/pull/645}#645}}

  []

* Versie 2.6

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.6+is%3Aclosed}milestone 2.6 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.7.3, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.3}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * datum in excel downloadbestandsnaam

  * Relevante Flamingo issues:

    * {{{https://github.com/flamingo-geocms/flamingo/pull/623}#623 gebruik juiste datatype in Excel sheet}}

    * {{{https://github.com/flamingo-geocms/flamingo/pull/626}#626 geen kaart in print/factsheet}}
      ({{{https://github.com/B3Partners/flamingo-ibis/issues/45}issue #45}})

 []



* Versie 2.5

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.5+is%3Aclosed}milestone 2.5 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.7.1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * aanpassingen factsheet {{{https://github.com/B3Partners/flamingo-ibis/pull/39}issue #39}}

  * Relevante Flamingo issues:

    * {{{https://github.com/flamingo-geocms/flamingo/pull/611}#611 css klasse voor edit labels}}
      Kijk in de ticket voor gebruiksinstructie.

    * {{{https://github.com/flamingo-geocms/flamingo/pull/606}#606 Getalrange SimpleFilter, Vinkvak per default "aan" optie}}

  []


* Versie 2.4

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.4+is%3Aclosed}milestone 2.4 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.6.4, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.4}Flamingo release notes}}

  []


** Verbeteringen en oplossingen

  * Betere foutafhandeling in factsheet

  * Factsheet styling aanpassingen: link blauw, labeling/weergave van vliegveld & afstand,
    milieuzone info,

  * Gebruik de generieke Flamingo databron naam (geo_viewer ipv. geo_viewer-ibis)

  []


* Versie 2.3

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.3+is%3Aclosed}milestone 2.3 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.6.4-RC1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.4-RC1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * Layout factsheet

  * Het filtermechanisme werkt nu consequent

  * De factsheet werkt nu op onze productieomgeving. Was configuratie issue doordat er aliassen waren ingesteld.

  * Editen en splitsen functioneert werkt nu consequent hier op de ontwikkelomgeving.

  * Beheeromgeving is aangepast dat je het geometrietype kan opgeven. Deze is nodig om een nieuwe feature te kunnen aanmaken.

  * Styling van slider voor kavelgrootte. Deze blijft nu binnen het vak zodat je hem altijd kan verslepen

  * Styling van topmenu; deze mag transparent zijn maar geeft een blauwe balk.
    In het html component in de header wordt een div toegevoegd met een blauwe achtergrond.

  * Editen van bedrijventerreinen in IE10 (hier ook zonder flow getest) werkt.

  []


* Versie 2.2

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.2+is%3Aclosed}milestone 2.2 issues}}.

** Verbeteringen en oplossingen

  * Gebruik Flamingo versie 4.6.3, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.3}Flamingo release notes}}

  * verschillende bugs opgelost

  []

** upgrade notitie

  De volgende componenten moeten opnieuw worden geconfigureerd / aan de kaart worden toegevoegd:
  
  * IbisZoeker
  
  * FeatureInfo
  
  * IbisFactsheet (kaartlaag "kavel" voor factsheet kaartlaag en "kavels" en "terreinen" voor legenda)
  
~~  * evt. IbisReport (mits {{{https://github.com/B3Partners/flamingo-ibis/issues/26}issue #26}} is opgelost)
  
  []

* Versie 2.1

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.1+is%3Aclosed}milestone 2.1 issues}}.

** Nieuw

  * Hernoem <<<dist>>> artifact naar <<<{{{http://repo.b3p.nl/nexus/#nexus-search;quick~ibis-dist}ibis-dist}}>>> zodat het beter herkenbaar is in de repository

  []

** Verbeteringen en oplossingen

  * Gebruik Flamingo versie 4.6.1

  []

* Versie 2.0

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0+is%3Aclosed}milestone 2.0 issues}}.

** Nieuw

  * Initiele release

  []

* Versie 2.0-RC2

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0-RC2+is%3Aclosed}milestone 2.0-RC2 issues}}.

* Versie 2.0-RC1

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0-RC1+is%3Aclosed}milestone 2.0-RC1 issues}}.
