	 -----
	 Release notes
	 -----
	 mprins
	 -----
	 2015-10-12
	 -----

~~ reference: http://maven.apache.org/doxia/references/apt-format.html


${project.name} ${project.version} Release Notes

  Dit zijn de release notes voor ${project.name} versie ${project.version}.

%{toc|section=1|fromDepth=2|toDepth=2}

* Versie ${project.version}

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A${project.version}+is%3Aclosed}milestone ${project.version} issues}}.

** Nieuw

** Verbeteringen en oplossingen

  * datum in excel downloadbestandsnaam

  []


* Versie 2.5

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.5+is%3Aclosed}milestone 2.5 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.7.1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.7.1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * aanpassingen factsheet {{{https://github.com/B3Partners/flamingo-ibis/pull/39}issue #39}}

  * Relevante Flamingo issues:

    * {{{https://github.com/flamingo-geocms/flamingo/pull/611}#611 css klasse voor edit labels}}
      Kijk in de ticket voor gebruiksinstructie.

    * {{{https://github.com/flamingo-geocms/flamingo/pull/606}#606 Getalrange SimpleFilter, Vinkvak per default "aan" optie}}

  []


* Versie 2.4

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.4+is%3Aclosed}milestone 2.4 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.6.4, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.4}Flamingo release notes}}

  []


** Verbeteringen en oplossingen

  * Betere foutafhandeling in factsheet

  * Factsheet styling aanpassingen: link blauw, labeling/weergave van vliegveld & afstand,
    milieuzone info,

  * Gebruik de generieke Flamingo databron naam (geo_viewer ipv. geo_viewer-ibis)

  []


* Versie 2.3

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.3+is%3Aclosed}milestone 2.3 issues}}.

** Nieuw

  * Gebruik Flamingo versie 4.6.4-RC1, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.4-RC1}Flamingo release notes}}

  []

** Verbeteringen en oplossingen

  * Layout factsheet

  * Het filtermechanisme werkt nu consequent

  * De factsheet werkt nu op onze productieomgeving. Was configuratie issue doordat er aliassen waren ingesteld.

  * Editen en splitsen functioneert werkt nu consequent hier op de ontwikkelomgeving.

  * Beheeromgeving is aangepast dat je het geometrietype kan opgeven. Deze is nodig om een nieuwe feature te kunnen aanmaken.

  * Styling van slider voor kavelgrootte. Deze blijft nu binnen het vak zodat je hem altijd kan verslepen

  * Styling van topmenu; deze mag transparent zijn maar geeft een blauwe balk.
    In het html component in de header wordt een div toegevoegd met een blauwe achtergrond.

  * Editen van bedrijventerreinen in IE10 (hier ook zonder flow getest) werkt.

  []


* Versie 2.2

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.2+is%3Aclosed}milestone 2.2 issues}}.

** Verbeteringen en oplossingen

  * Gebruik Flamingo versie 4.6.3, zie ook:
    {{{https://github.com/flamingo-geocms/flamingo/releases/tag/v4.6.3}Flamingo release notes}}

  * verschillende bugs opgelost

  []

** upgrade notitie

  De volgende componenten moeten opnieuw worden geconfigureerd / aan de kaart worden toegevoegd:
  
  * IbisZoeker
  
  * FeatureInfo
  
  * IbisFactsheet (kaartlaag "kavel" voor factsheet kaartlaag en "kavels" en "terreinen" voor legenda)
  
~~  * evt. IbisReport (mits {{{https://github.com/B3Partners/flamingo-ibis/issues/26}issue #26}} is opgelost)
  
  []

* Versie 2.1

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.1+is%3Aclosed}milestone 2.1 issues}}.

** Nieuw

  * Hernoem <<<dist>>> artifact naar <<<{{{http://repo.b3p.nl/nexus/#nexus-search;quick~ibis-dist}ibis-dist}}>>> zodat het beter herkenbaar is in de repository

  []

** Verbeteringen en oplossingen

  * Gebruik Flamingo versie 4.6.1

  []

* Versie 2.0

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0+is%3Aclosed}milestone 2.0 issues}}.

** Nieuw

  * Initiele release

  []

* Versie 2.0-RC2

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0-RC2+is%3Aclosed}milestone 2.0-RC2 issues}}.

* Versie 2.0-RC1

  De complete lijst met issues voor deze release is beschikbaar in de tracker:
  {{{${project.issueManagement.url}?q=milestone%3A2.0-RC1+is%3Aclosed}milestone 2.0-RC1 issues}}.

